<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>骚图</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<div>
    {% for entry in entry_list %}
    <div>
        <span>{{ entry.uploader.username }}</span>
        <span>{{ entry.id }}</span>
        <div>
            <img src="{{ entry.img_url}}">
        </div>
        <p>
            {{ entry.description }}
        </p>
        <a id="vote_g" onclick=""></a> <span> entry.approval </span>
        <a id="vote_b" onclick=""></a> <span> entry.negative </span>
    </div>
    {% empty %}
        <span> no content </span>
    {% endfor %}
</div>

<div>
    {% if is_paginatedc%}
        <ul style="list-style-type:none">
            <li><div><a href="?page={{ front.-1 }}"> 上一页 </a></div></li>
            {% for p in front %}
                {% if p == '...' %}
                    <li><div><span> {{ p }} </span></div></li>
                {% else %}
                    <li><div><a href="?page={{ p }}"> {{ p }} </a></div></li>
            {% endfor %}
            <li><div><a class="active" href="?page={{ page_obj.number }}"> {{ page_obj.number }} </a></div></li>
            {% for p in back %}
                {% if p == '...' %}
                    <li><div><span> {{ p }} </span></div></li>
                {% else %}
                    <li><div><a href="?page={{ p }}"> {{ p }} </a></div></li>
            {% endfor %}
            <li><div><a href="?page={{ back.0 }}"> 下一页 </a></div></li>
        </ul>
    {% endif %}
</div>

<div>
    <form id="publishform" action="{% url '' %}">
        {% csrf_token %}
        <p>
            <label for="{{ form.img_url.id_for_label }}">粘贴图片链接</label>
            {{ form.img_url }}
        </p>
        <p>
            <label for="{{ form.description.id_for_label }}">添加备注</label>
            {{ form.description }}
        </p>
        <input type="submit" onclick="submitForm();" value="点击发布">
    </form>
</div>

<script>
    function submitForm(){
        <!--var token = $.cookie('csrftoken');-->
        var token = $(" input[name=csrfmiddlewaretoken] ").val();
        var to_url = $(" #publishform ")
        var vurl = $(" #id_img_url ").attr("action")
        var vdes = $(" #id_description").val()

        $.ajax({
            url: to_url,
            type: 'POST',
            headers:{'X-CSRFToken': token},
            data: {
                "img_url": vurl,
                "description": vdes,
            },
        })
    }
</script>
</body>
</html>