<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>骚图</title>
    {% load static %}
    <!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
    <script src="{% static 'picture/js/jquery-3.3.1.js' %}"></script>
</head>
<body>
    <div>
        <a href="{% url 'siteuser:logout' %}">注销登陆</a>
    </div>

<div>
    <ul style="list-style-type: none;">
    {% for entry in entry_list %}
    <li>
        <div>
            <span>{{ entry.uploader.username }}</span>
            <span>{{ entry.id }}</span>
            <div>
                <img src="{{ entry.img_url}}">
            </div>
            <p>
                {{ entry.description }}
            </p>
            <div>
                <a class="vote" href="javascript:;" data-id="{{ entry.id }}" data-type="pos">↑</a>
                <span> {{ entry.positive }} </span>
                <a class="vote" href="javascript:;" data-id="{{ entry.id }}" data-type="neg">↓</a>
                <span> {{ entry.negative }} </span>
            </div>
        </div>
    </li>
    {% empty %}
        <span> no content </span>
    {% endfor %}
    </ul>
</div>

<div>
    {% if is_paginatedc%}
        <ul style="list-style-type:none">
            <li><div><a href="?page={{ front|last }}"> 上一页 </a></div></li>
            {% for p in front %}
                {% if p == '...' %}
                    <li><div><span> {{ p }} </span></div></li>
                {% else %}
                    <li><div><a href="?page={{ p }}"> {{ p }} </a></div></li>
                {% endif %}
            {% endfor %}
            <li><div><a class="active" href="?page={{ page_obj.number }}"> {{ page_obj.number }} </a></div></li>
            {% for p in back %}
                {% if p == '...' %}
                    <li><div><span> {{ p }} </span></div></li>
                {% else %}
                    <li><div><a href="?page={{ p }}"> {{ p }} </a></div></li>
                {% endif %}
            {% endfor %}
            <li><div><a href="?page={{ back|first }}"> 下一页 </a></div></li>
        </ul>
    {% endif %}
</div>

<div id="message" style=" display: none;"></div>

<div>
    <form id="publishform" action="{% url 'picture:publish' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.img_url.id_for_label }}">粘贴图片链接</label>
            {{ form.img_url }}
        </div>
        <div>
            <label for="{{ form.description.id_for_label }}">添加备注</label>
            {{ form.description }}
        </div>
        <!--<input type="button" onclick="submitForm();" value="点击发布">-->
        <input type="submit" value="点击发布">
    </form>
</div>

<script>
    var token = $(" input[name='csrfmiddlewaretoken'] ").val();

    function submitForm(){
        <!--var token = $.cookie("csrftoken");-->
        var to_url = $(" #publishform ").attr("action");
        var vurl = $(" #id_img_url ").val();
        var vdes = $(" #id_description").val();

        $.ajax({
            url: to_url,
            type: "POST",
            headers:{"X-CSRFToken": token},
            data: {
                img_url: vurl,
                description: vdes,
            },
        });
    }

    $(document).ready(function(){
        $(".vote").click(function () {
            var v_id = $(this).attr("data-id");
            var type = $(this).attr("data-type");
            $.ajax({
                url: "vote/",
                type: "POST",
                data: {
                    pic: v_id,
                    type: type,
                },
                headers:{"X-CSRFToken": token},
                success: function(data){
                    var msg = data["status"];
                    if(msg=="ok"){
                        var t = parseInt($(this).next().html());
                        $(this).next().html(t+1);
                    }
                    else{
                        $(" #message ").html(msg);
                        $(" #message ").show().delay(1000).hide(200);
                    }
                }
            });
        });
    })
</script>
</body>
</html>